<!DOCTYPE html>
<html>

<head>
    <title>RideGo Login</title>
</head>

<body>

    <h2>🔐 Login</h2>

    <input type="text" id="username" placeholder="Username"><br><br>
    <input type="password" id="password" placeholder="Password"><br><br>

    <button onclick="loginUser()">Login</button>

    <script>
        async function loginUser() {

            let username = document.getElementById("username").value;
            let password = document.getElementById("password").value;

            try {
                const res = await fetch("https://ridego-1.onrender.com/login/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        username: username,
                        password: password
                    })
                });

                const data = await res.json();

                if (res.status === 200 && data.user_id) {

                    alert("Login Success ✅");

                    // save user id
                    localStorage.setItem("user_id", data.user_id);

                    // redirect to map
                    window.location.href = "/map/";

                } else {
                    alert("Login Failed ❌");
                }

            } catch (error) {
                alert("Server Error ❌");
                console.log(error);
            }
        }
    </script>

</body>

</html>